@import "../mixins/media.scss";

.service-promo {
  width: 100%;

  position: relative;

  .container,
  .row {
    height: 100%;
  }

  .row {
    justify-content: flex-end;
  }

  .section-title {
    font-family: $noto;
    font-size: fontSizeToVW(48px);
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 67.2px */
    letter-spacing: 0.48px;
    color: $gray-900;
    text-align: right;

    margin-bottom: 42px;

    @include mobile {
      font-size: fontSizeToVW(100px);
      margin-bottom: 14px;
    }
  }

  &-bg {
    width: 100%;

    position: absolute;
    // top: 11.8vh;
    left: 0;
    z-index: -1;

    background-position: 100% 50%;
    background-size: cover;
    background-repeat: no-repeat;

    @include mobile {
      width: 100vw;

      background-position: center;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    height: 100%;

    padding-top: 55vh;

    @include tablet {
      padding-top: 20vh;
    }

    @include mobile {
      padding-top: 20vh;
    }
  }

  &__header {
    max-width: 59%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__subtitle {
    font-family: $noto;
    font-size: fontSizeToVW(24px);
    font-style: italic;
    font-weight: 400;
    line-height: 140%; /* 33.6px */
    letter-spacing: 0.24px;
    color: $gray-900;

    // max-width: 55%;
    margin-bottom: 32px;

    @include mobile {
      font-size: fontSizeToVW(64px);
    }
  }

  &__text {
    font-family: $noto;
    font-size: fontSizeToVW(24px);
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
    letter-spacing: 0.24px;

    color: $gray-900;

    margin-bottom: 48px;
    &:last-child {
      margin-bottom: 0;
    }

    @include mobile {
      font-size: fontSizeToVW(60px);
    }
  }
}

// Блок со списком

.info-item {
  padding: 0 2vw;

  @include mobile {
    margin-bottom: 24px;
  }

  &__title {
    font-family: $noto;
    font-size: fontSizeToVW(36px);
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 50.4px */
    letter-spacing: 0.36px;
    color: $gray-900;

    margin-bottom: 32px;

    @include mobile {
      font-size: fontSizeToVW(80px);
      margin-bottom: 12px;
    }
  }

  &__list {
    @include mobile {
      margin-inline-start: 24px;
    }
    &-value {
      font-family: $noto;
      font-size: fontSizeToVW(24px);
      font-style: normal;
      font-weight: 400;
      line-height: 140%; /* 33.6px */
      letter-spacing: 0.24px;
      color: $gray-900;

      margin-bottom: 4px;

      &::marker {
        color: $primary-200;
        font-size: 32px;
        @include mobile {
          font-size: 18px;
          margin-top: 4px;
        }
      }

      @include mobile {
        font-size: fontSizeToVW(64px);
      }
    }
  }
}

.info-text-row {
  text-align: right;

  .info-text {
    font-family: $noto;
    font-size: fontSizeToVW(24px);
    font-style: italic;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.24px;

    margin-bottom: 24px;

    @include mobile {
      font-size: fontSizeToVW(64px);
    }
  }
}

// Блок с ценами

.section-prices {
  padding-top: 38px;
  padding-bottom: 100px;

  @include mobile {
    padding-bottom: 30px;
  }
}

.prices-table {
  width: 100%;
  display: flex;
  justify-content: center;

  border-collapse: collapse;

  tbody {
    @include mobile {
      width: 100%;
      overflow-x: auto;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &-position {
    display: flex;
    justify-content: center;
  }
  &-keys {
    td {
      padding-bottom: 18px;
      padding-left: 27px;
      padding-right: 27px;

      border-right: 2px solid $primary-200;
      border-bottom: 2px solid $primary-200;

      &:last-child {
        border-right: none;
      }

      @include mobile {
        min-width: 90px;
        padding-left: 8px;
        padding-right: 8px;
        padding-bottom: 8px;
      }
    }
  }

  &-values {
    td {
      padding-top: 18px;
      padding-right: 10px;
      padding-left: 10px;

      border-right: 2px solid $primary-200;

      &:last-child {
        border-right: none;
      }

      @include mobile {
        padding-top: 8px;
      }
    }
  }

  &-key {
    padding: 10px;
    background-color: $primary-50;
    border-radius: 8px;

    font-family: $noto;
    font-size: fontSizeToVW(24px);
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 44.8px */
    letter-spacing: 0.32px;

    @include mobile {
      font-size: fontSizeToVW(48px);
    }
  }

  &-value {
    font-family: $noto;
    font-size: fontSizeToVW(24px);
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 42px */
    letter-spacing: 0.3px;

    @include mobile {
      font-size: fontSizeToVW(48px);
    }
  }
}

.price-info {
  padding-top: 32px;
  &-text {
    font-family: $noto;
    font-size: fontSizeToVW(24px);
    font-style: italic;
    font-weight: 400;
    line-height: 140%; /* 33.6px */
    letter-spacing: 0.24px;

    margin-bottom: 22px;

    @include mobile {
      font-size: fontSizeToVW(48px);
    }
  }
}

.section-services {
  &__title {
    font-family: $noto;
    font-size: fontSizeToVW(36px);
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 50.4px */
    letter-spacing: 0.36px;
    text-align: center;
    color: $dark;

    margin-bottom: 42px;

    @include mobile {
      font-size: fontSizeToVW(62px);
    }
  }
}

// Блок Додаткові послуги

.service-key {
  font-family: Noto Serif Display;
  font-size: fontSizeToVW(28px);
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 44.8px */
  letter-spacing: 0.32px;
  color: $dark;
  padding: 10px 0;

  border-bottom: 2px solid $primary-200;

  @include mobile {
    font-size: fontSizeToVW(56px);
  }
}

.service-value {
  font-family: Noto Serif Display;
  font-size: fontSizeToVW(28px);
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 44.8px */
  letter-spacing: 0.32px;
  color: $dark;
  padding: 10px 0;
  padding-left: 100px;

  border-left: 2px solid $primary-200;
  border-bottom: 2px solid $primary-200;

  @include mobile {
    padding-left: 20px;
    font-size: fontSizeToVW(56px);
  }
}

.service-image {
  text-align: center;
  padding-left: 44px;
  border-left: 2px solid $primary-200;
  border-bottom: 2px solid $primary-200;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;

    @include tablet {
      width: 100%;
    }

    @include mobile {
      width: 100%;
    }
  }
}

.services__list {
  padding-bottom: 100px;
  .row:last-child {
    .service-key,
    .service-value,
    .service-image {
      border-bottom: none;
    }
  }
}

// Блок с кнопкой

.services-action {
  padding-bottom: 100px;
  .button {
    width: 100%;
  }
}
