.section-steps {
  .steps-row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 14px;

    margin-top: 80px;
  }

  .step-item {
    display: flex;
    flex-direction: column;

    height: 420px;

    min-width: 280px;
    max-width: 280px;

    padding: 8px 14px 14px 14px;

    border-top-right-radius: 60px;
    background-color: $primary-200;

    @include descktop {
      height: 240px;
      min-width: 220px;
      max-width: 220px;
    }

    @include mobile {
      height: 160px;
      min-width: 100%;
      max-width: 100%;
    }

    &__title {
      font-family: $noto;
      font-size: fontSizeToVW(36px);
      font-style: italic;
      font-weight: 500;
      line-height: 140%; /* 56px */
      letter-spacing: 0.4px;
      color: $white;

      margin-bottom: 8px;

      @include descktop {
        font-size: fontSizeToVW(24px);
      }

      @include tablet {
        font-size: fontSizeToVW(32px);
      }

      @include mobile {
        font-size: fontSizeToVW(100px);
      }
    }

    &__subtitle {
      font-family: $noto;
      font-size: fontSizeToVW(28px);
      font-style: italic;
      font-weight: 400;
      line-height: 140%; /* 50.4px */
      letter-spacing: 0.36px;

      color: $white;

      @include descktop {
        font-size: fontSizeToVW(22px);
      }

      @include tablet {
        font-size: fontSizeToVW(28px);
      }

      @include mobile {
        font-size: fontSizeToVW(68px);
      }
    }

    &__text {
      font-family: $noto;
      font-size: fontSizeToVW(20px);
      font-style: normal;
      font-weight: 400;
      line-height: 140%; /* 33.6px */
      letter-spacing: 0.24px;

      color: $white;

      margin-top: 24px;

      @include descktop {
        font-size: fontSizeToVW(18px);
      }

      @include tablet {
        font-size: fontSizeToVW(24px);
      }

      @include mobile {
        margin-top: 18px;
        font-size: fontSizeToVW(58px);
      }
    }
  }
}
