.section-subscribe {
  background-color: $primary-100;

  .subscribe-form-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1vw;

    @include mobile {
      flex-direction: column;
      row-gap: 8px;
    }

    border-radius: 8px;
    background: $white;

    padding: 52px 33px;

    @include mobile {
      padding: 33px;
    }

    .text-field {
      display: flex;
      flex: 1 1 auto;

      padding: 20px;

      border: none;
      border-radius: 8px;
      background: $gray-100;

      font-family: $montserrat;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 145%; /* 26.1px */
      letter-spacing: 0.18px;
      color: $gray-700;

      @include tablet {
        padding: 10px;
        font-size: 16px;
      }

      @include mobile {
        width: 100%;
      }

      &::placeholder {
        font-family: $montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 145%; /* 26.1px */
        letter-spacing: 0.18px;
        color: $gray-700;

        @include tablet {
          font-size: 14px;
        }
      }
    }

    .button {
      min-width: 25%;

      @include mobile {
        min-width: 100%;
      }
    }
  }
}
