@import "../fonts";
@import "../vars";
@import "../mixins/font-size.scss";
@import "../mixins/media.scss";
@import "../components/service";

@import "../components/repair-cleaning/promo";
@import "../components/repair-cleaning/prices";
@import "../components/repair-cleaning/services";

.text-bg {
  display: flex;
  align-self: flex-start;
  font-family: $noto;
  border-radius: 8px;
  background-color: #e4eff9;
  color: #272529;
  padding: 10px;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.32px;

  margin-bottom: 24px;

  @include mobile {
    font-size: 14px;
  }
}
