@import "./grid.css";
@import "./fonts";
@import "./vars";

// ------------------------
// Mixins
// ------------------------

@import "./mixins/font-size";

// ------------------------
// Components
// ------------------------

@import "./components/header";
@import "./components/button";
@import "./components/section";
@import "./components/footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}
