// ----------------------------------
// Fonts
// ----------------------------------

$montserrat: "Montserrat";
$noto: "Noto Serif Display";

// ----------------------------------
// Colors
// ----------------------------------

$primary-50: #e4eff9;
$primary-100: #bfd6f0;
$primary-200: #9abde5;
$primary-300: #76a4db;

$gray-100: #f7f5fb;
$gray-700: #68666b;
$gray-900: #272529;

$white: #fff;
$dark: #272529;
