// ----------------------------------
// Fonts
// ----------------------------------

$montserrat: "Montserrat";
$noto: "Noto Serif Display";

// ----------------------------------
// Colors
// ----------------------------------

$primary-100: #bfd6f0;
$primary-100: #9abde5;
$primary-300: #76a4db;

$white: #fff;
$dark: #272529;
