.section-info {
  position: relative;

  margin-top: -19vh;
  padding-bottom: 64px;

  &__bg {
    width: 100%;
    height: 100%;

    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;

    background-image: url("/images/bg/maintance-cleaning-bg-second.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .info-item {
    padding: 0 2vw;
    &__title {
      font-family: $noto;
      font-size: fontSizeToVW(36px);
      font-style: normal;
      font-weight: 400;
      line-height: 140%; /* 50.4px */
      letter-spacing: 0.36px;
      color: $noto;

      margin-bottom: 32px;
    }

    &__list {
      padding-bottom: 80px;
      &-value {
        font-family: $noto;
        font-size: fontSizeToVW(24px);
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 33.6px */
        letter-spacing: 0.24px;
        color: $gray-900;

        margin-bottom: 4px;

        &::marker {
          color: $primary-200;
          font-size: 32px;
        }
      }
    }
  }

  .info-text-row {
    text-align: right;

    .info-text {
      font-family: $noto;
      font-size: fontSizeToVW(24px);
      font-style: italic;
      font-weight: 400;
      line-height: 140%;
      letter-spacing: 0.24px;

      margin-bottom: 24px;
    }
  }
}
